@import url('https://fonts.googleapis.com/css?family=Space+Mono:400,400i,700|Work+Sans:400,700&display=swap');

html, body{
    -webkit-font-smoothing:antialiased;
    background: white;
	font-family: 'Space Mono', monospace;
	font-weight: 400;
	letter-spacing: .03rem;
	line-height: 1;
    margin: 0;
    height:calc("100vh - 40px");
}

.grid-wrapper{
    display:grid;
    grid-template-areas:
    "header"
    "nav"
    "main"
    "footer";
    margin:40px;
}

#title{
    cursor:hand;
    margin:0;
    height:14px;
    width:180px;
    font-family: 'Work Sans', sans-serif;
    font-weight: 700;
    grid-area:header;
}

.titletooltip{
    display:none;
    background:black;
    margin-left:20px;
    padding:10px;
    position:absolute;
    z-index:200;
    width:300px;
    height:150px;
    color:white;
}
nav{
    grid-area:nav;
    margin:0;
    height:100px;
}

nav ul {
    display: flex;
    margin:0;
    padding:0;
    justify-content:flex-end;
    text-decoration:none;
    list-style:none;
}

nav ul li {
    margin-left:20px;
}

.grid-main{
    min-height:calc(100vh - 280px);
    grid-area:main;
}

.left-side-footer{
    position:relative;
    grid-area:footer-left;
    margin:0;
    height:100px;
}

.left-side-footer .contact-email{
    position:absolute;
    text-align:-webkit-right;
    bottom:0;
}

.right-side-footer{
    position:relative;
    grid-area:footer-right;
    margin:0;
    height:100px;
}

.right-side-footer .contact-2{
    position:absolute;
    right:0;
    bottom:0;
}

.intro-headline{
    text-transform: uppercase;
}

.secret-overlay{
    z-index:100;
    /* width:calc("100vw");
    height:calc("100vh - 40px"); */
    width:100%;
    height:100%;
    margin:0;
    background-color:white;
    display:none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#close-overlay{
    text-align:center;
    position: fixed;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#title-overlay{
    text-align:center;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

@media (min-width:500px){
    .grid-wrapper{
        grid-template-columns: 1fr 3fr;
        grid-template-areas:
        "header nav"
        "main main"
        "footer-left footer-right";
    }
}

@media (min-width: 700px){
    .grid-wrapper{
        grid-template-columns: 1fr 4fr 1fr;
        grid-template-areas:
        "header . nav"
        "main main main"
        "footer-left . footer-right"
    }
}